/* ---------------- Animations  ---------------- */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* ---------------- Normalize  ---------------- */
.progress, sub, sup {
  vertical-align: baseline;
}

.block, .elem-left, .elem-right, article, aside, details, figcaption, figure, footer, header, hr, main, menu, nav, section, summary {
  display: block;
}

hr, sub, sup {
  position: relative;
}

body, figure {
  margin: 0;
}

button, hr, input, select {
  overflow: visible;
}

[type=checkbox], [type=radio], legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 .67em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 50%;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.95em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 0;
}

button, input, select, textarea {
  font: inherit;
  line-height: initial;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
  border: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring, input:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

address {
  font-style: normal !important;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.icon-gplus:before {
  margin-left: -1px !important;
}

@media (min-width: 1001px) {
  a[name]:before {
    height: 80px;
    margin-top: -80px;
    display: block;
    content: "";
    visibility: hidden;
  }
}

.page_index main, .page_index > hr {
  display: none !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.elem-left, .elem-right {
  margin-top: 8px;
  margin-bottom: 20px;
}

.elem-left {
  float: left;
  margin-right: 40px;
}

.elem-right {
  float: right;
  margin-left: 40px;
}

a, *::before, *::after, img, figure, article, li, #fixed-tabs, #header, #banner,
h1, h2, h3, h4, h5, h6, .btn, .btn-alt, .btn:before, .btn-alt:before {
  -webkit-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.container, main, main #page {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  max-width: 1220px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:before, [class^=icon-]:before {
  line-height: 1 !important;
  display: block !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.shadow {
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
}

img {
  max-width: 100%;
}

.flex-ed, .col-flex-ed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-flex-ed {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -ms-flex-flow: column;
}

.star:before {
  font-size: 1.2em;
  font-family: 'fontello';
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: '\e80f \e80f \e80f \e80f \e80f';
  color: #e9dd52;
  padding-right: 10px;
}

/* ---------------- page foundation ---------- */
@media (min-width: 1031px) {
  #fixed-tabs {
    display: none;
  }
}

@media (max-width: 1030px) {
  #fixed-tabs {
    position: fixed;
    right: 0;
    text-align: center;
    line-height: 1;
    font-size: 0;
    z-index: 10000;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #fixed-tabs a {
    padding: 13px 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 13px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    background-color: #3a1515;
    color: #fff;
    text-transform: uppercase;
  }
  #fixed-tabs a span {
    display: inline-block;
    vertical-align: middle;
  }
  #fixed-tabs a span:last-child {
    margin-left: 7px;
  }
  #fixed-tabs a:nth-of-type(2) {
    background-color: #c56906;
  }
  #fixed-tabs i {
    font-size: 16px;
    margin-right: 5px;
  }
  #fixed-tabs i, #fixed-tabs i:before {
    display: inline-block;
    margin: 0 auto;
  }
  .copy {
    padding-bottom: 65px !important;
  }
}

@media (max-width: 600px) {
  #fixed-tabs strong {
    display: none;
  }
  #fixed-tabs a span:last-child {
    margin-left: 0;
  }
}

body {
  position: relative;
  background-color: #fff;
  text-align: center;
  overflow-x: hidden;
}

p {
  color: #545454;
  font: 400 17px/27px "Raleway", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #f68408;
  cursor: pointer;
}

a:hover {
  color: #602222;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1.7px 5px rgba(0, 0, 0, 0.2);
  color: #602222;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 56px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

h1 sup {
  font-size: 20px;
  margin-top: 20px;
}

h2, .h2 {
  font-size: 45px;
  color: #a92731;
}

h2 span, .h2 span {
  font-weight: 300;
}

h3, .h3 {
  color: #000;
  font-size: 24px;
  margin: 10px auto 5px;
  font-weight: 400;
}

header {
  position: relative;
  background-color: #602222;
  -webkit-box-shadow: 0 4px 13.4px 2.6px rgba(17, 18, 18, 0.56);
          box-shadow: 0 4px 13.4px 2.6px rgba(17, 18, 18, 0.56);
  width: 100%;
}

header > .flex-ed {
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .btn-alt {
  margin: 10px 0;
}

header address {
  text-align: right;
}

.fix-nav header {
  position: fixed;
  width: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
}

.fix-nav header .logo img {
  max-height: 90px;
}

.address {
  color: #fff;
  font-size: 20px;
  line-height: 1.1;
  display: block;
}

.address:hover {
  color: #f68408;
}

.phone {
  color: #f68408;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.phone:hover {
  color: #fff;
}

/*  --------------  Buttons ----------------- */
.btn, .btn-alt {
  display: inline-block;
  margin: 3px auto;
  padding: 12px 15px 10px;
  color: #fff;
  border-radius: 24px;
  font: 700 18px/1.1 "Raleway", sans-serif;
  background-color: #f68408;
  min-width: 200px;
  text-align: center;
  border: 2px solid white;
  border-radius: 24px;
  -webkit-box-shadow: 0 4px 8px rgba(9, 10, 10, 0.35);
          box-shadow: 0 4px 8px rgba(9, 10, 10, 0.35);
  position: relative;
}

.btn span, .btn-alt span {
  text-transform: uppercase;
  font-weight: 700;
}

.btn:hover, .btn-alt:hover {
  background-color: #602222;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.btn-alt:after {
  content: '\e937';
  font-family: fontello;
  display: inline-block;
  margin-left: 5px;
}

/* ------------   Split Img ------------- */
.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.split article {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  margin: 10px;
  padding: 20px;
  text-align: left;
}

.split h2 {
  text-transform: none;
  text-align: left;
  margin: 10px 0;
}

.split figure {
  position: relative;
}

.split figure img {
  position: relative;
}

.split .btn {
  margin-left: 0;
  display: table;
}

.even figure {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.odd {
  background-color: #f4f4f4;
}

/* -------------- Banner ----------------- */
#banner {
  background: url("assets/images/lp-makeover-banner.jpg");
  background-size: cover;
  border-bottom: 3px solid #ef8607;
  max-width: 1800px;
  margin: auto;
}

#banner .container {
  padding: 0;
  max-width: 1400px;
  margin: auto;
}

#banner .split article {
  padding: 165px 10px;
  max-width: 720px;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

#banner figure {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
}

#banner figure img {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: auto;
  margin-top: auto;
  display: none;
}

#banner .caption {
  position: absolute;
  bottom: 50px;
  right: -20%;
  color: #fff;
  width: 120px;
  text-transform: none;
  font-size: 16px;
}

#banner .btn-alt {
  margin: 20px auto 0;
  height: 100%;
  display: table;
}

/* ---------------- Callouts Styles  ---------------- */
.callouts {
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1280px;
  height: auto;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.callouts a {
  text-decoration: none;
  margin: 15px auto;
  padding: 10px;
}

.callouts div {
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.callouts .portrait {
  width: 100%;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callouts .portrait img {
  position: relative;
  z-index: 3;
}

.callouts .portrait:after {
  content: "";
  width: 91%;
  height: 93%;
  position: absolute;
  border: 2px solid #ef8607;
  border-radius: 10px;
  z-index: 3;
  margin: auto;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
}

.callouts .portrait:hover:after, .callouts a:hover:after {
  border-color: #fff;
}

.callouts a:hover h3 {
  color: #631513;
}

.callouts p {
  line-height: 1.1;
}

#offers {
  overflow: hidden;
}

#offers .flex-ed {
  max-width: 1400px;
  margin: auto;
}

#offers .flex-ed > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#offers .flex-ed > div:first-of-type {
  background-color: #631513;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 10px;
  position: relative;
}

#offers .flex-ed > div:first-of-type:before {
  content: '';
  position: absolute;
  left: -1000px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #631513;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0) 100%);
}

#offers .btn {
  margin: 10px 0 0;
}

#offers .h2.sp {
  color: #f68408;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

#offers .h2 {
  color: #fff;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 900;
}

#offers .h3 span {
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

#fast {
  background-color: #f0f0f0;
  position: relative;
}

#fast:before {
  content: '';
  position: absolute;
  left: 0;
  right: -1000px;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #f0f0f0;
}

#fast .h2 {
  color: #bf2c37;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 290px;
          flex: 0 1 290px;
  text-transform: none;
  text-align: left;
  font-weight: 900;
  position: relative;
  z-index: 2;
}

#fast figure {
  margin-left: -260px;
  margin: 20px -15px 0 -220px;
}

/* ---------------- Invislign --------------- */
#invisalign {
  padding: 30px 10px;
}

#invisalign .split {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#invisalign img {
  margin: -30px auto -20px;
}

#invisalign figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  margin: 10px auto;
}

#invisalign figure iframe {
  vertical-align: middle;
  border: 3px solid #f68408;
  -webkit-box-shadow: 1.5px 2.6px 7px rgba(2, 2, 2, 0.35), inset 1.5px 2.6px 7px rgba(2, 2, 2, 0.35);
          box-shadow: 1.5px 2.6px 7px rgba(2, 2, 2, 0.35), inset 1.5px 2.6px 7px rgba(2, 2, 2, 0.35);
}

#invisalign figure:hover iframe {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.caption a, .caption {
  color: #f68408;
  font: 900 14px/ 1 'Lato', sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0;
}

.caption a:hover, .caption:hover {
  color: #545454;
}

#results {
  padding: 40px 0 0;
}

#results article {
  margin: 0 0 0 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 550px;
          flex: 0 1 550px;
}

#results figure {
  padding-right: 140px;
  margin-right: 20px;
}

#ba {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#ba img {
  margin-top: 15px;
}

/* ---------------- Experience --------------- */
.bkgrd {
  background-color: #f4f4f4;
}

#experienced {
  padding: 0 10px;
  margin-top: 80px;
  background: url(assets/images/lp-makeover-dr-bkg.png) no-repeat;
  position: relative;
  background-position: right;
  z-index: 1;
}

#experienced .split {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#experienced h2 {
  margin-right: -130px;
}

#experienced .btn-alt {
  padding: 10px 30px;
}

#experienced figure {
  max-width: 525px;
  margin-top: -40px;
  position: relative;
  padding-left: 70px;
}

.dr-photo {
  position: relative;
  display: table;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #bf2c37;
  padding: 5px 15px;
  text-transform: uppercase;
  font: 400 17px/24px "Raleway", sans-serif;
  color: white;
}

/* ---------------- Contact --------------- */
footer {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  background-color: #464646;
  background-image: radial-gradient(circle 383px at center, #652826 0%, #360b0b 100%);
  -webkit-box-shadow: 0 5px 11px rgba(12, 10, 10, 0.5);
          box-shadow: 0 5px 11px rgba(12, 10, 10, 0.5);
}

footer .flex-ed {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1020px;
  padding-bottom: 30px;
}

footer h2 {
  padding: 0 10px;
  text-shadow: 1.3px 2.7px 7px rgba(0, 0, 0, 0.35);
  color: white;
  font: 600 48px/1.23 "Oswald", sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
}

footer .btn {
  border-radius: 0;
  border: 2px solid white;
  padding: 30px 10px;
}

footer article a {
  padding: 30px 5px;
  max-width: 320px;
}

footer article p {
  vertical-align: middle;
  margin: 0 auto;
  text-shadow: 0 3px 7px rgba(14, 15, 16, 0.35);
  color: white;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font: 700 33px/1 "Raleway", sans-serif;
}

footer article p:last-of-type {
  margin-top: 30px;
}

footer article span {
  display: block;
  font-size: 39px;
}

footer article small {
  font-size: 24px;
  margin-top: 20px;
}

footer article:hover .icon-phone {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .icon-phone {
  display: inline-block;
  font-size: 36px;
  margin-left: -30px;
}

footer .star:before {
  font-family: 'fontello';
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: '\e80f \e80f \e80f \e80f \e80f';
  color: #f68408;
  padding-right: 10px;
}

footer .map {
  border: 1px solid #f68408;
}

footer .map iframe {
  display: block;
  max-width: 100%;
  height: 300px;
}

figcaption {
  text-transform: uppercase;
  margin-top: 10px;
  font: 400 20px/1.2 "Raleway", sans-serif;
}

figcaption strong {
  font-weight: 600;
  display: block;
}

figcaption a {
  color: white;
}

figcaption a:hover, figcaption a:hover p {
  color: #f68408;
}

.copy {
  padding: 20px 0 40px;
  background-color: #161616;
  text-transform: uppercase;
  font: 300 12px/1 "Raleway", sans-serif;
  color: #fff;
}

.copy a {
  color: white;
}

.copy a:hover {
  color: #f68408;
}

/* ---------------- Invisalign Assessement --------------- */
#invisalign-quiz {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: left;
}

#invisalign-quiz h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

#invisalign-quiz h1 sup {
  font-size: 1.2rem;
  top: -1rem;
}

#invisalign-quiz p sup {
  font-size: .8rem;
  top: -.3rem;
}

#invisalign-quiz input, #invisalign-quiz textarea {
  background-color: #ececec;
  color: #545454;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  font-size: .9rem;
}

#invisalign-quiz label {
  margin-top: 15px;
  font-weight: bold;
  display: inline-block;
}

#invisalign-quiz .top-form {
  margin-bottom: 20px auto;
}

#invisalign-quiz .form-info {
  width: 120px;
  padding: 5px 0;
}

#invisalign-quiz input[type=text], #invisalign-quiz input[type=email] {
  min-width: 300px;
}

#invisalign-quiz input[name=age] {
  min-width: 40px;
}

#invisalign-quiz .forms p {
  margin: 15px 0 15px 15px;
}

#invisalign-quiz .btn {
  margin: 30px auto;
  text-transform: uppercase;
  display: table;
  font-weight: 700;
}

input:focus, textarea:focus, .regular-radio:focus + label {
  outline: none;
  -webkit-box-shadow: 0px 0px 5px #656565;
          box-shadow: 0px 0px 5px #656565;
}

/* Checkbox styles  */
.checks {
  border: 1px solid #602222;
  background-color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: -5px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checks:after {
  content: '\e832';
  font: 400 13px/1 'fontello';
  position: absolute;
  top: 5px;
  left: 3px;
  color: #602222;
}

/* Radio Styles */
#invisalign-quiz input[type="radio"] {
  opacity: 0;
  top: -5px;
  left: 2px;
  position: relative;
  z-index: 5;
  margin-left: 18px;
  cursor: pointer;
}

.regular-radio + label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #602222;
  padding: 9px;
  border-radius: 10px;
  position: relative;
  margin-right: 6px;
  margin-left: -18px;
  top: 3px;
  cursor: pointer;
}

.regular-radio:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #602222;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* ---------------- New Patient Form ---------------- */
#landing-page-form {
  max-width: 850px;
  padding: 30px 10px 10px;
  margin: 10px auto 20px;
}

#landing-page-form h1 {
  font-size: 45px;
  margin-bottom: 40px;
}

#landing-page-form p {
  max-width: 750px;
  margin: 10px auto;
}

#landing-page-form .simple {
  margin: auto;
  max-width: 450px;
}

#landing-page-form .simple label {
  display: none;
}

#landing-page-form input, #landing-page-form textarea {
  width: 97%;
  margin: 7px auto;
  background-color: #d3d3d3;
  border-radius: 5px;
  padding: 10px;
  border: none;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

#landing-page-form input:focus, #landing-page-form textarea:focus {
  background-color: #f9f9f9;
}

#landing-page-form textarea {
  height: 200px;
  margin-bottom: 30px;
}

#landing-page-form .btn {
  min-width: 160px;
  text-transform: uppercase;
}

/* ---------------- Media Queries --------------- */
@media (max-width: 1320px) {
  #banner {
    background-position: center left -150px;
  }
  #banner figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
  #banner article {
    margin: 0;
  }
  #banner article:before {
    content: '';
    position: absolute;
    left: -20px;
    right: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: -webkit-gradient(linear, right top, left top, from(#d2ccb4), color-stop(77%, #d2ccb4), to(rgba(210, 204, 180, 0.01)));
    background: linear-gradient(270deg, #d2ccb4 0%, #d2ccb4 77%, rgba(210, 204, 180, 0.01) 100%);
  }
}

@media (max-width: 1200px) {
  #banner .split article {
    padding: 120px 20px;
  }
  #banner figure {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}

@media (max-width: 1050px) {
  header .btn {
    display: table;
    margin: 10px 0;
  }
  h1 {
    font-size: 60px;
  }
  #banner .split article {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
            flex: 0 1 55%;
  }
  .callouts h3 {
    font-size: 25px;
  }
  #offers .h2 {
    font-size: 45px;
  }
  #experienced:before {
    content: '';
    position: absolute;
    left: -20px;
    right: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: -webkit-gradient(linear, right top, left top, from(#edece647), color-stop(57%, #edece7f7), to(rgba(210, 204, 180, 0.01)));
    background: linear-gradient(270deg, #edece647 0%, #edece7f7 57%, rgba(210, 204, 180, 0.01) 100%);
  }
}

@media (max-width: 1000px) {
  header .flex-ed {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .address {
    display: none;
  }
  header .logo {
    Flex: 1 1 100%;
    margin-bottom: 20px;
  }
  header .btn-alt {
    margin: 10px 0;
  }
  #banner {
    background-color: #d2ccb4;
    background-image: none;
  }
  #banner .split article {
    margin: auto;
    padding: 60px 20px;
  }
  #banner figure {
    margin: auto;
  }
  #banner figure img {
    display: block;
    width: 100%;
  }
  #banner article:before {
    display: none;
  }
  #banner .caption {
    right: 20px;
    bottom: 20px;
  }
  .callouts {
    max-width: 700px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  #offers .h2 {
    font-size: 36px;
  }
  .split {
    display: block;
    padding: 0;
  }
  .split h2 {
    text-align: center;
  }
  .split article {
    padding: 20px 10px;
    margin: auto;
    text-align: center;
    max-width: 100%;
  }
  .split .btn {
    margin: 20px auto;
  }
  .name {
    bottom: 80px;
  }
  .even figure {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #invisalign figure {
    max-width: 700px;
    margin: 0 auto 20px;
  }
  #results {
    padding: 20px 0 40px;
  }
  #results figure {
    margin: auto;
    display: table;
  }
  #experienced {
    padding-top: 20px;
    background: none;
    margin-top: 20px;
  }
  #experienced:before {
    background: -webkit-gradient(linear, right top, left top, from(#ececeb), color-stop(77%, white), to(#f5f4f0));
    background: linear-gradient(270deg, #ececeb 0%, white 77%, #f5f4f0 100%);
  }
  #experienced figure {
    margin: auto;
    max-width: 600px;
    display: table;
    margin: 0 auto -80px;
    padding: 0 0 0 60px;
  }
  #experienced h2 {
    margin: 10px auto;
  }
  footer h2 {
    font-size: 42px;
  }
  footer .flex-ed {
    display: block;
  }
  footer figure {
    margin-top: 30px;
  }
  footer article a {
    margin-bottom: 20px;
  }
  footer .map iframe {
    width: 100%;
  }
}

@media (max-width: 750px) {
  #fast figure {
    margin: 20px auto 0;
  }
  .callouts {
    display: block;
    padding: 30px 10px 10px;
  }
  .callouts .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    padding: 0;
  }
  .callouts .portrait {
    margin: 0 auto;
  }
  .callouts a h3 {
    margin-bottom: 15px;
    line-height: 1.2;
  }
  #offers .h2 {
    text-align: center;
    margin: 0 auto 10px;
  }
  #offers .flex-ed {
    display: block;
  }
  #offers .flex-ed > div:first-of-type {
    padding: 20px 20px 30px;
  }
  #experienced {
    margin-top: 0;
  }
  h2, footer h2 {
    font-size: 30px;
  }
  #invisalign img {
    margin: -10px auto 0;
  }
  .bkg {
    overflow: hidden;
  }
}

@media (max-width: 590px) {
  header .btn-alt {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header address {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  header .phone {
    font-size: 36px;
    margin-bottom: 10px;
  }
  #banner .btn {
    line-height: .8;
  }
  #banner article p {
    margin-bottom: 0;
  }
  .callouts a {
    margin: 10px auto 0;
  }
  article h2 {
    font-size: 32px;
  }
  #ba {
    max-width: 45%;
    position: relative;
    top: auto;
    -webkit-transform: none;
            transform: none;
    margin: -40px 0 0 auto;
    display: table;
  }
  #results figure {
    padding: 0;
  }
  .map {
    display: none;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 42px;
  }
  #banner h1 {
    font-size: 50px;
  }
  #offers .h2 {
    font-size: 30px;
  }
  #offers .h3 {
    font-size: 20px;
  }
  #experienced figure {
    margin-bottom: -50px;
  }
  .name {
    bottom: 60px;
  }
  footer .copy span {
    display: block;
    visibility: hidden;
    font-size: 1px;
  }
  #invisalign-quiz .forms p {
    margin: 10px auto;
  }
  #invisalign-quiz input[type=text], #invisalign-quiz input[type=email] {
    min-width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 400px) {
  h1, #invisalign-quiz h1 {
    font-size: 36px;
  }
  #banner article h2 {
    font-size: 38px;
  }
  h2, .h2 {
    font-size: 36px;
  }
  .callouts {
    padding-bottom: 10px;
  }
  #landing-page-form h1 {
    font-size: 36px;
    line-height: 1.2;
  }
  #lp-appointment {
    padding: 10px;
    margin-top: 10px;
  }
  footer article span, footer article p:last-of-type {
    font-size: 36px;
  }
  footer h2 {
    font-size: 28px;
  }
  figcaption {
    font-size: 18px;
  }
}
/*# sourceMappingURL=styles.css.map */